<!doctype html>
<html>

<head>
    <title> Add players </title>
</head>
<body>

{% if PLAYERS %}
<h2>
Already registered
</h2>
<table>
{% for player in PLAYERS %}

{{ player[0] }}, {{ player[1] }} <br>

{% endfor %}
</table>
<br>
{% else %}
<p> No players yet, add some </p>

{% endif %}	

<form action="" method='POST'>

<input type="text" name="name" placeholder="Name">
<input type="email" name="email" placeholder="Email">

<input type="submit" name="send" value="Add player">

<br><br><br>
<input type="submit" name="send" value="Start playing">	

</form>
</body>


</html>
