
<!doctype html>
<html>

<head>
    <title> Add players </title>
</head>
<body>

<form action="" method='POST'>
<div id="player">

<input required type="text" name="name" placeholder="Name" value="{{ request.form.name }}">

<input required type="email" name="email" placeholder="Email" value="{{ request.form.email }}">

</div>

<button id="button" onlick="add_player()">Add player</button>


<script type="text/javascript">

document.getElementById('button').onclick = add_player;


var i = 0;
var original = document.getElementById('player');

function add_player() {
    var clone = original.cloneNode(true); // "deep" clone
    clone.id = "player" + ++i; // there can only be one element with an ID
    original.parentNode.appendChild(clone);
}

</script>


<br><br><br>
<input type="submit" value="Start playing">
	
</body>

</form>

</html>
