<!doctype html>
<html>

<head>
    <title> Dojo Quiz </title>
</head>
<body>
    <input type=text {{form.tourn_name}} placeholder="Tournament name">
    <form>
        <select required>
            <option value="" disabled selected hidden>Tournament system</option>
            <option value="Round robin">Round robin</option>
            <option value="Swiss">Swiss</option>
        </select>
    </form>

    <form>
        <select required>
            <option value="" disabled selected hidden>Tie breaker</option>
            <option value="Head to head">Head to head</option>
            <option value="Most games as black">Games won as black</option>
        </select>
    </form>

    <input type=text value={{  }} placeholder="Location">

</html>
