<!doctype html>
<html>

<head>
    <title> Create new tournament </title>
</head>
<body>
<form action="" method="POST">
<br>
    {{ form.tourn_name(placeholder="Tournament name") }}    
<br>
    {{ form.location(placeholder="Location") }}
<br>
    {{ form.date }}    
<br>
    {% if option == "def" %}
    {{ form.system(hidden=True) }} 
    
    {% else %}
    
    {{ form.system }}

    {% endif %}
<br>
        <select name="tie_break" required>
            <option value="" disabled selected hidden>Tie breaker</option>
            
            {% for tie_break_option in form.tie_break %}
            <option value="{{ tie_break_option }}"</option>      
            
            {% endfor %}
        </select>
<br>
<br>
<br>
{{ form.submit }}

</form>
</body>    
</html>
